@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('../../assets/IBMPlexSansCondensed-Bold.woff2') format('woff2');
}

$font-families: (
  "button": #{'IBM Plex Sans Condensed', sans-serif},
  "announcement": #{'IBM Plex Mono', monospace}
);

$colours: (
  "primary": (
    "main": #70B72B,
    "variant": #5C9822
  ),
  "secondary": (
    "main": #004289,
    "variant": #032C58
  ),
  "context": (
    "info": (
      "main": #0468DB,
      "variant": #B4D2F4
    ),
    "danger": #DA394C
  ),
  "base": (
    "dark": #333333
  )
);

$containers: (
  "mobile": (
    "breakpoint": 767px
  )
);