@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('../../assets/IBMPlexSansCondensed-Bold.woff2') format('woff2');
}

$font-families: (
  "button": #{'IBM Plex Sans Condensed', sans-serif},
  "announcement": #{'IBM Plex Mono', monospace}
);

$containers: (
  "tablet": (
    "breakpoint": 1024px
  ),
  "mobile": (
    "breakpoint": 768px
  )
);