.announcement {
  &__text {
    font-family: map.get($font-families, "announcement");
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$mobile} {
      font-size: 10px;
    }
  }
  &__icon {
    margin-right: 0.5rem;
  }
  &-bar {
    padding: 10px 0;
    .container {
      padding: 0 20px;
    }
    &__announcements {
      margin: 0;
    }
    &__close {
      cursor: pointer;
      margin-left: 0.5rem;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}