#pagefooter .cross-page-promos {
  padding: 29px 0;
  .icon-with-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-with-caption__text {
      text-transform: none;
      font-size: 24px;
      margin: 0;
      margin-left: 15px;
      @media (max-width: 1378px) {
        font-size: 16px;
      }
      @media #{$tablet} {
        margin-top: 1rem;
        font-size: 20px;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      @media #{$tablet} {
        width: 24px;
        height: 24px;
      }
    }
    @media #{$tablet} {
      display: block;
    }
  }
}