.section-featured-collection {
  .collection-slider {
    &-row {
      margin: 40px 0 70px;
    }
  }
  .hometitle {
    margin-bottom: 20px;
  }
  .owl-carousel {
    button.owl-dot {
      background: #666;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      &.active {
        background: none;
        border: #666 solid 1px;
      }
    }
    .owl-nav {
      button {
        border-radius: 50%;
        background-color: #FFF;
        width: 65.5px;
        height: 65.5px;
        top: calc(50% - 65px);
        &.owl-prev {
          left: 20px;
        }
        svg {
          width: 32.75px;
          height: 32.75px;
          vertical-align: unset;
        }
      }
    }
  }
}