.section-featured-collection {
  .collection-slider {
    &-row {
      margin: 60px 0 50px;
    }
  }
  .hometitle {
    margin-bottom: 20px;
  }
  .owl-carousel {
    .owl-dots {
      margin: 18px 0;
    }
    button.owl-dot {
      background: #666;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      &.active {
        background: none;
        border: #666 solid 1px;
      }
    }
    .owl-nav {
      button {
        border-radius: 50%;
        background-color: #FFF;
        width: 65.5px;
        height: 65.5px;
        top: calc(50% - 65px);
        @media (max-width: 1280px) {
          width: 45.5px;
          height: 45.5px;
          top: calc(50% - 85px);
        }
        @media #{$tablet} {
          width: 50px;
          height: 50px;
          top: calc(50% - 70px);
        }
        &.owl-prev {
          left: 20px;
        }
        svg {
          width: 32.75px;
          height: 32.75px;
          vertical-align: unset;
          @media (max-width: 1280px) {
            width: 26px;
            height: 26px;
          }
          @media #{$tablet} {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}